<div block="choose-payment">
    <div elem="section">
        <div elem="inner" class="js-custom-scroll">
            {% include "notice-info-chooes-payment.html" %}
            <div elem="items">
                <div elem="item">
                    <div elem="title">Credit Cards</div>
                    <div elem="payments">
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/visa-pic.svg" alt=""></span>
                            <span elem="name">VISA</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/master-card-pic.svg" alt=""></span>
                            <span elem="name">MasterCard</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/maestro-pic.svg" alt=""></span>
                            <span elem="name">Maestro</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/mir-pic.svg" alt=""></span>
                            <span elem="name">MIR</span>
                        </a>
                    </div>
                </div>
                <div elem="item">
                    <div elem="title">Digital Wallets</div>
                    <div elem="payments">
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/payeer-pic.svg" alt=""></span>
                            <span elem="name">Payeer</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/qiwi-wallet-pic.svg" alt=""></span>
                            <span elem="name">QIWI Wallet</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/ya-money-pic.svg" alt=""></span>
                            <span elem="name">Yandex Money</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/alfa-click-pic.svg" alt=""></span>
                            <span elem="name">Alfa Click</span>
                        </a>
                    </div>
                </div>
                <div elem="item">
                    <div elem="title">Digital Wallets</div>
                    <div elem="payments">
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/bitcoin-pic.svg" alt=""></span>
                            <span elem="name">Bitcoin</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/ethereum-pic.svg" alt=""></span>
                            <span elem="name">Ethereum</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/bitcoin-cash-pic.svg" alt=""></span>
                            <span elem="name">Bitcoin Cash</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/lite-coin-pic.svg" alt=""></span>
                            <span elem="name">Litecoin</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/dash-pic.svg" alt=""></span>
                            <span elem="name">Dash</span>
                        </a>
                    </div>
                </div>
                <div elem="item">
                    <div elem="title">Credit Cards</div>
                    <div elem="payments">
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/visa-pic.svg" alt=""></span>
                            <span elem="name">VISA</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/master-card-pic.svg" alt=""></span>
                            <span elem="name">MasterCard</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/maestro-pic.svg" alt=""></span>
                            <span elem="name">Maestro</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/mir-pic.svg" alt=""></span>
                            <span elem="name">MIR</span>
                        </a>
                    </div>
                </div>
                <div elem="item">
                    <div elem="title">Digital Wallets</div>
                    <div elem="payments">
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/payeer-pic.svg" alt=""></span>
                            <span elem="name">Payeer</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/qiwi-wallet-pic.svg" alt=""></span>
                            <span elem="name">QIWI Wallet</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/ya-money-pic.svg" alt=""></span>
                            <span elem="name">Yandex Money</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/alfa-click-pic.svg" alt=""></span>
                            <span elem="name">Alfa Click</span>
                        </a>
                    </div>
                </div>
                <div elem="item">
                    <div elem="title">Digital Wallets</div>
                    <div elem="payments">
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/bitcoin-pic.svg" alt=""></span>
                            <span elem="name">Bitcoin</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/ethereum-pic.svg" alt=""></span>
                            <span elem="name">Ethereum</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/bitcoin-cash-pic.svg" alt=""></span>
                            <span elem="name">Bitcoin Cash</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/lite-coin-pic.svg" alt=""></span>
                            <span elem="name">Litecoin</span>
                        </a>
                        <a elem="payment" href="">
                            <span elem="pic"><img src="img/dash-pic.svg" alt=""></span>
                            <span elem="name">Dash</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- choose-payment -->