.choose-payment

    &__inner
        height 650px
        overflow-y auto
        overflow-x hidden

        @media print
            height auto
            overflow auto

    &__item
        display flex
        align-items center

    &__title
        font-size 17px
        color #042433
        line-height 26px
        flex 0 0 150px
        width 150px
        max-width 150px
        margin-right 10px

        @media (max-width 1439px)
            flex 0 0 130px
            width 130px
            max-width 130px

    &__payments
        display flex
        flex-wrap wrap

    &__payment
        flex 0 0 140px
        width 140px
        max-width 140px
        height 140px
        background-color #fff
        box-shadow 0px 2px 2px rgba(161, 171, 179, 0.242499)
        border-radius 20px    
        display flex
        flex-direction column
        justify-content center
        align-items center
        margin-right 25px
        margin-bottom 25px
        transition box-shadow .3s
        cursor pointer
        // &:last-child
        //     margin-right 0

        &:hover
            text-decoration none
            box-shadow 0px 5px 5px rgba(146, 159, 176, 0.1)  

            & ^[0]
                &__name
                    color #03A9F4

    &__pic
        flex 0 0 55px
        width 55px
        max-width 55px
        margin-right auto
        margin-bottom 15px    
        margin-left auto
        display block

        img 
            max-width 100%
            height auto

    &__name
        font-size 14px
        color #042433   
        font-weight bold 
        line-height 21px
        transition color .3s