.bread-crumbs

    &__section
        font-size 14px
        line-height 26px
        color #dadada
        display flex
        align-items center

    &__link-back
        position relative
        padding-left 34px
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 19px
            height 16px
            background url('../img/back-icon.svg') 0 0 no-repeat

    a
        font-size 14px
        color #03A9F4
        line-height 16px
        font-weight bold
        letter-spacing 0.875px
        text-transform uppercase           
        margin-right 7px
        transition color .3s
        &:hover
            color darken(#03A9F4, 15%)
            text-decoration none

    span 
        color #042433    
        font-weight bold
        letter-spacing 0.88px
        margin-left 7px