.top-line

    &__section
        display flex
        align-items center
        justify-content space-between
        padding-top 20px
        padding-bottom 40px

    &__info
        display flex
        align-items center

    &__for-users
        display flex
        align-items center
        justify-content space-between

        a
            font-size 14px
            color #03A9F4
            font-weight bold
            line-height 16px
            letter-spacing 0.875px
            text-transform uppercase
            margin-right 35px
            display flex
            align-items center
            transition color .3s
            &:hover
                color darken(#03A9F4, 15%)
                text-decoration none
            
    &__icon        
        margin-right 10px

        img 
            max-width 100%  
            height auto
