<div block="top-line">
    <div elem="section">
        <div elem="info">
            {% include "logo.html" %}
            {% include "bread-crumbs.html" %}
        </div>
        <div elem="for-users">
            <a elem="suppurt" href="#">
                <i elem="icon" mods="suppurt-icon"><img src="img/support-icon.svg" alt=""></i>
                SUPPORT SERVICE
            </a>
            <a elem="print" href="#" onclick="window.print(); return false;">
                <i elem="icon" mods="suppurt-print"><img src="img/print-icon.svg" alt=""></i>
                PRINT
            </a>
            {% include "lang-selection.html" %}
        </div>
    </div>
</div><!-- top-line -->