<div block="notice-info" mods="verify-info">
    <div elem="title">Verify information and confirm invoice</div>
    <div elem="desc">Your <strong>card payment was cancelled,</strong> please try to follow the recommendations below and repeat the payment:</div>
</div><!-- notice-info -->