<div block="notice-info">
    <div elem="title">Verify information and confirm invoice</div>
    <div elem="desc">Please choose the payment option below to pay this order:</div>
</div><!-- notice-info -->