<div block="notice-info">
    <div elem="title">Follow instructions below</div>
    <div elem="notice">To pay you need to <strong>Create instant wallet,</strong> add funds and pay this invoice without a fee</div>
</div><!-- notice-info -->