<div block="notice-info" mods="author-succes">
    <div elem="title">Authorization Succesfull!</div>
    <div elem="notice">Since this is your first payment with this card, we require an <strong>additional verification.</strong></div>
</div><!-- notice-info -->