.notice-info
    margin-bottom 55px

    &--author-succes
        margin-bottom 15px

    &--verify-info
        margin-bottom 25px

        & ^[0]
            
            &__desc
                font-weight 400

                strong
                    color #f0937c

    &__title
        font-size 16px
        color #042433
        line-height 26px
        padding-bottom 20px
        margin-bottom 20px
        position relative
        &:after
            content ''
            position absolute
            bottom 0
            left 0
            width 85px
            height 3px
            background-color #24C10C

    &__notice
        font-size 16px
        line-height 26px
        color #2B393F
        background rgba(3, 169, 244, 0.24)
        border-radius 5px  
        display inline-block
        padding 9px 20px 9px 40px
        position relative
        &:before
            content ''
            position absolute
            top 13px
            left 15px
            width 16px
            height 16px
            background url('../img/notice-icon.svg') 0 0 no-repeat

    &__desc
        font-size 16px
        color #042433
        font-weight bold
        line-height 26px
        display inline-block