.block-info
    width 305px
    max-width 100%
    background-color #F0F2F2
    border-radius 0 10px 10px 0 

    @media print
        width 100%

    &--verify-info
        background-color #BEE6F8

        & ^[0]

            &__text
                font-size 16px
                color #042433
                line-height 26px
                padding-right 10px

    &__section
        padding 45px 25px 25px 30px

    &__pic
        width 100px
        margin-bottom 10px

        img 
            max-width 100%
            height auto    

    &__link
        font-size 16px
        color #03A9F4   
        font-weight bold     
        line-height 21px
        margin-bottom 10px
        display inline-block
        &:hover
            color #03A9F4   

    &__text
        font-size 12px
        color #042433        
        line-height 21px

    &__additional
        padding-top 30px
        border-top 1px solid #D6D7D6
        padding-right 15px
        margin-top 30px    

    &__title
        font-size 12px
        color #042433    
        font-weight bold
        line-height 26px
        text-transform uppercase
        margin-bottom 5px

    &__list
        padding-left 15px
        margin-bottom 0

        li
            font-size 12px
            color #042433
            line-height 21px
            margin-bottom 25px

    &__notice
        font-size 12px
        color #03A9F4        
        font-weight bold
        line-height 26px
        padding-left 25px
        padding-bottom 20px
        margin-bottom 20px
        position relative
        &:before
            content ''
            position absolute
            top 5px
            left 0
            width 16px
            height 16px
            background url('../img/notice-icon.svg') 0 0 no-repeat
        &:after
            content ''
            position absolute
            bottom 0
            left 0
            width 85px
            height 3px
            background-color #03A9F4