<div block="block-info" mods="verify-info">
    <div elem="section">
        <div elem="notice">INFORMATION</div>
        <div elem="text">You card must be verified if you pay by this card in the 1st time. Please upload photo of ID and card to special form after payment.</div>
    </div>
</div><!-- block-info -->