<div block="block-info">
    <div elem="section">
        <div elem="pic"><img src="img/qr-code-pic.png" alt=""></div>
        <a elem="link" href="https://payeer.com/7bcbqo">https://payeer.com/7bcbqo</a>
        <div elem="text">Using this link, you can upload your card's and passport's photo from your mobile phone</div>
        <div elem="additional">
            <div elem="title">INFO</div>
            <ul elem="list">
                <li>You can hide some info on your card if you worry about privacy, however, make sure the first 6 and the last 4 digits on your card, the owner's name, are visible.</li>
                <li>Payment will be cancelled automatically within <strong>72 hours</strong> if you do not upload the documents.</li>
            </ul>
        </div>
    </div>
</div><!-- block-info -->