::-moz-selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection,
h1 *::-moz-selection,
.h1 *::-moz-selection,
h2 *::-moz-selection,
.h2 *::-moz-selection,
h3 *::-moz-selection,
.h3 *::-moz-selection,
h4 *::-moz-selection,
.h4 *::-moz-selection,
h5 *::-moz-selection,
.h5 *::-moz-selection,
h6 *::-moz-selection,
.h6 *::-moz-selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection,
h1 *::selection,
.h1 *::selection,
h2 *::selection,
.h2 *::selection,
h3 *::selection,
.h3 *::selection,
h4 *::selection,
.h4 *::selection,
h5 *::selection,
.h5 *::selection,
h6 *::selection,
.h6 *::selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(33,37,41,0.54);
}

:-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

::-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

:-ms-input-placeholder {
  color: rgba(33,37,41,0.54);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
  -webkit-overflow-scrolling: touch;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.woff2") format('woff2'), url("../fonts/ProximaNova-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */

.browserupgrade {
  margin: $appGutter 0;
  background: #ccc;
  color: #000;
  padding: $appGutter 0;
}

.theme-color {
  color: ;
}

/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 ;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-footer {
  -ms-flex: none;
      flex: none;
}

.app-header {
  -ms-flex: none;
      flex: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app.author-succes-page .app__main,
.app.verify-info-page .app__main {
  padding: 0;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: auto;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
  background-color: #f8f9f8;
  padding: 40px 25px 70px 50px;
  border-radius: 10px;
  margin-bottom: 70px;
}

.app__aside--right {
  -ms-flex: 0 0 280px;
      flex: 0 0 280px;
  width: 280px;
  max-width: 280px;
  background-color: #f8f9f8;
  padding: 35px 35px 35px 30px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 70px;
}

* {
  outline: none !important;
}

.contain {
  width: 1436px;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 35px;
  padding-left: 35px;
}

.btn-general {
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  background: linear-gradient(161.89deg, #49d60a 3.5%, #09cb01 97.72%);
  box-shadow: 0px 6px 10px rgba(14,61,9,0.095);
  border-radius: 50px;
  min-width: 135px;
  display: inline-block;
  vertical-align: top;
}

.btn-general:hover {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(161.89deg, #09cb01 3.5%, #49d60a 97.72%);
}

.scrollbox-bar {
  width: 4px;
  background-color: #03a9f4;
  transition: background-color 0.3s;
}

.scrollbox-bar.scrollbox-bar-captured {
  background-color: #03a9f4;
}

.scrollbox-bar.scrollbox-vertical-bar {
  right: -1px;
}

.scrollbox-bar:hover {
  background-color: #22b8fc;
}

.scrollbox-rail {
  background-color: #d6d7d6;
  opacity: 1;
  width: 2px;
}

.jq-file {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 245px;
}

.jq-file input {
  z-index: 1;
}

.jq-file.changed .jq-file__name {
  color: #000;
  font-weight: bold;
}

.jq-file__browse {
  font-size: 12px;
  color: #fff;
  line-height: 26px;
  text-align: center;
  background-color: #03a9f4;
  border-radius: 36px;
  margin-right: 10px;
  width: 120px;
  -ms-flex: 0 0 120px;
      flex: 0 0 120px;
  -ms-flex-order: -1;
      order: -1;
  transition: background-color 0.3s;
  position: relative;
  z-index: 2;
}

.jq-file__browse:hover {
  background-color: #22b8fc;
}

.jq-file__name {
  font-size: 12px;
  color: #698698;
  width: auto;
  padding-right: 20px;
  line-height: 17px;
  position: relative;
}

strong {
  color: #000;
}

.remodal {
  max-width: 550px;
  padding: 25px 30px;
  border-radius: 10px;
}

.remodal-close {
  width: 50px;
  height: 50px;
  right: -60px;
  background: rgba(181,181,181,0.5);
  border-radius: 50%;
}

.remodal-close:before {
  font-size: 34px;
  color: #fff;
  top: 7px;
  right: 7px;
}

.block-info {
  width: 305px;
  max-width: 100%;
  background-color: #f0f2f2;
  border-radius: 0 10px 10px 0;
}

.block-info--verify-info {
  background-color: #bee6f8;
}

.block-info--verify-info .block-info__text {
  font-size: 16px;
  color: #042433;
  line-height: 26px;
  padding-right: 10px;
}

.block-info__section {
  padding: 45px 25px 25px 30px;
}

.block-info__pic {
  width: 100px;
  margin-bottom: 10px;
}

.block-info__pic img {
  max-width: 100%;
  height: auto;
}

.block-info__link {
  font-size: 16px;
  color: #03a9f4;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 10px;
  display: inline-block;
}

.block-info__link:hover {
  color: #03a9f4;
}

.block-info__text {
  font-size: 12px;
  color: #042433;
  line-height: 21px;
}

.block-info__additional {
  padding-top: 30px;
  border-top: 1px solid #d6d7d6;
  padding-right: 15px;
  margin-top: 30px;
}

.block-info__title {
  font-size: 12px;
  color: #042433;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.block-info__list {
  padding-left: 15px;
  margin-bottom: 0;
}

.block-info__list li {
  font-size: 12px;
  color: #042433;
  line-height: 21px;
  margin-bottom: 25px;
}

.block-info__notice {
  font-size: 12px;
  color: #03a9f4;
  font-weight: bold;
  line-height: 26px;
  padding-left: 25px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.block-info__notice:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/notice-icon.svg") 0 0 no-repeat;
}

.block-info__notice:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85px;
  height: 3px;
  background-color: #03a9f4;
}

.bread-crumbs__section {
  font-size: 14px;
  line-height: 26px;
  color: #dadada;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.bread-crumbs__link-back {
  position: relative;
  padding-left: 34px;
}

.bread-crumbs__link-back:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 16px;
  background: url("../img/back-icon.svg") 0 0 no-repeat;
}

.bread-crumbs a {
  font-size: 14px;
  color: #03a9f4;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.875px;
  text-transform: uppercase;
  margin-right: 7px;
  transition: color 0.3s;
}

.bread-crumbs a:hover {
  color: #0390cf;
  text-decoration: none;
}

.bread-crumbs span {
  color: #042433;
  font-weight: bold;
  letter-spacing: 0.88px;
  margin-left: 7px;
}

.check-card {
  margin-top: 50px;
}

.check-card__label {
  width: 100%;
  padding: 20px 20px 20px 80px;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #eef0f0;
  border-radius: 10px;
}

.check-card__label:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 43px;
  height: 50px;
  background: url("../img/chek-card-pic.svg") 0 0 no-repeat;
}

.check-card__text-extra {
  font-size: 12px;
  color: #2b393f;
  line-height: 16px;
  margin-bottom: 10px;
}

.check-card__input-file {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.check-card__input-file .jq-file.changed ~ .check-card__btn-delete {
  opacity: 1;
  visibility: visible;
}

.check-card__btn-delete {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: none;
  background: url("../img/cart-icon.svg") 0 0 no-repeat;
  opacity: 0;
  visibility: hidden;
}

.check-card__note {
  margin-left: 25px;
  padding-left: 25px;
  border-left: 1px solid #d1d2d2;
}

.check-card__types {
  font-size: 12px;
  color: #2b393f;
  line-height: 16px;
  margin-bottom: 10px;
}

.check-card__btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 30px;
}

.check-card__btn-confirm {
  border: none;
  min-width: 240px;
  max-width: 100%;
  margin-right: 20px;
  box-shadow: 0px 6px 10px rgba(14,61,9,0.095);
  cursor: not-allowed;
}

.check-card__btn-confirm.btn-general {
  background: #d8dcde;
}

.check-card__btn-confirm.confirm {
  cursor: pointer;
  background: linear-gradient(161.89deg, #49d60a 3.5%, #09cb01 97.72%);
}

.check-card__btn-confirm.confirm:hover {
  background: linear-gradient(161.89deg, #09cb01 3.5%, #49d60a 97.72%);
}

.check-card__btn-refund {
  font-size: 12px;
  color: #03a9f4;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  min-width: 200px;
  max-width: 100%;
  padding: 13px 20px 13px 40px;
  border: 2px solid rgba(3,169,244,0.24);
  box-shadow: 0px 6px 10px rgba(14,61,9,0.095);
  border-radius: 50px;
  display: inline-block;
  position: relative;
}

.check-card__btn-refund:hover {
  color: #03a9f4;
  text-decoration: none;
}

.check-card__btn-refund:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.check-card__btn-refund:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  width: 17px;
  height: 17px;
  background: url("../img/x-icon.svg") 0 0 no-repeat;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.choose-payment__inner {
  height: 650px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.choose-payment__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.choose-payment__title {
  font-size: 17px;
  color: #042433;
  line-height: 26px;
  -ms-flex: 0 0 150px;
      flex: 0 0 150px;
  width: 150px;
  max-width: 150px;
  margin-right: 10px;
}

.choose-payment__payments {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choose-payment__payment {
  -ms-flex: 0 0 140px;
      flex: 0 0 140px;
  width: 140px;
  max-width: 140px;
  height: 140px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(161,171,179,0.242);
  border-radius: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 25px;
  margin-bottom: 25px;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.choose-payment__payment:hover {
  text-decoration: none;
  box-shadow: 0px 5px 5px rgba(146,159,176,0.1);
}

.choose-payment__payment:hover .choose-payment__name {
  color: #03a9f4;
}

.choose-payment__pic {
  -ms-flex: 0 0 55px;
      flex: 0 0 55px;
  width: 55px;
  max-width: 55px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  display: block;
}

.choose-payment__pic img {
  max-width: 100%;
  height: auto;
}

.choose-payment__name {
  font-size: 14px;
  color: #042433;
  font-weight: bold;
  line-height: 21px;
  transition: color 0.3s;
}

.contact-phone {
  margin-top: 30px;
}

.contact-phone__note {
  font-size: 14px;
  color: #a1a1a1;
  line-height: 16px;
}

.contact-phone__note span {
  color: #d47260;
}

.contact-phone__label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.contact-phone__input {
  -ms-flex: 0 0 290px;
      flex: 0 0 290px;
  width: 290px;
  max-width: 100%;
  margin-right: 30px;
  position: relative;
}

.contact-phone__input:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  background: url("../img/complite-icon.svg") 0 0 no-repeat;
  display: none;
}

.contact-phone__input.phone-confirm:after {
  display: block;
}

.contact-phone__input.phone-confirm input {
  border-color: #adeb99;
}

.contact-phone__input input {
  font-size: 24px;
  color: #a1a1a1;
  line-height: 28px;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #d5d5d5;
  background-color: transparent;
}

.contact-phone__input ::-webkit-input-placeholder {
  font-size: 24px;
  color: #a1a1a1;
  line-height: 28px;
}

.contact-phone__input ::-moz-placeholder {
  font-size: 24px;
  color: #a1a1a1;
  line-height: 28px;
}

.contact-phone__input :-ms-input-placeholder {
  font-size: 24px;
  color: #a1a1a1;
  line-height: 28px;
}

.contact-phone__input ::-ms-input-placeholder {
  font-size: 24px;
  color: #a1a1a1;
  line-height: 28px;
}

.contact-phone__input ::placeholder {
  font-size: 24px;
  color: #a1a1a1;
  line-height: 28px;
}

.contact-phone__btn-confirm {
  border: none;
  min-width: 135px;
  box-shadow: 0px 6px 10px rgba(14,61,9,0.095);
  cursor: not-allowed;
}

.contact-phone__btn-confirm.btn-general {
  background: #d8dcde;
}

.contact-phone__btn-confirm.confirm {
  cursor: pointer;
  background: linear-gradient(161.89deg, #49d60a 3.5%, #09cb01 97.72%);
}

.contact-phone__btn-confirm.confirm:hover {
  background: linear-gradient(161.89deg, #09cb01 3.5%, #49d60a 97.72%);
}

.lang-selection {
  margin-left: 5px;
}

.lang-selection__section {
  width: 130px;
}

.lang-selection__selected {
  font-size: 16px;
  color: #03a9f4;
  line-height: 26px;
  padding: 5px 7px 5px 7px;
  border: 2px solid rgba(3,169,244,0.24);
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  z-index: 2;
}

.lang-selection__selected:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 3.5px 0 3.5px;
  border-color: #03a8f4 transparent transparent transparent;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.lang-selection__selected:hover {
  color: #fff;
  background: linear-gradient(284.23deg, #03a9f4 -40.38%, #25bcff 47.92%);
}

.lang-selection__selected:hover:after {
  border-color: #fff transparent transparent transparent;
}

.lang-selection__selected.is-active-selected {
  color: #fff;
  background: linear-gradient(284.23deg, #03a9f4 -40.38%, #25bcff 47.92%);
}

.lang-selection__selected.is-active-selected:after {
  border-color: #fff transparent transparent transparent;
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.lang-selection__icon-lang {
  width: 20px;
  margin-right: 10px;
}

.lang-selection__icon-lang img {
  max-width: 100%;
  height: auto;
}

.lang-selection__list {
  list-style-type: none;
  padding-top: 30px;
  padding-left: 0;
  width: 130px;
  border: 2px solid rgba(3,169,244,0.24);
  border-top: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
  box-sizing: border-box;
  position: absolute;
  top: 35px;
  z-index: 1;
  overflow: hidden;
  display: none;
  -webkit-overflow-scrolling: touch;
}

.lang-selection__list-item {
  font-size: 16px;
  color: #03a9f4;
  line-height: 26px;
  padding: 11px 15px 11px 10px;
  cursor: pointer;
}

.lang-selection__list-item:hover {
  background-color: rgba(3,169,244,0.24);
}

.logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 25px;
}

.logo__img {
  width: 126px;
}

.logo__img img {
  max-width: 100%;
  height: auto;
}

.logo__desc {
  font-size: 12px;
  color: #042433;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.857143px;
  margin-left: 25px;
}

.notice-info {
  margin-bottom: 55px;
}

.notice-info--author-succes {
  margin-bottom: 15px;
}

.notice-info--verify-info {
  margin-bottom: 25px;
}

.notice-info--verify-info .notice-info__desc {
  font-weight: 400;
}

.notice-info--verify-info .notice-info__desc strong {
  color: #f0937c;
}

.notice-info__title {
  font-size: 16px;
  color: #042433;
  line-height: 26px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.notice-info__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85px;
  height: 3px;
  background-color: #24c10c;
}

.notice-info__notice {
  font-size: 16px;
  line-height: 26px;
  color: #2b393f;
  background: rgba(3,169,244,0.24);
  border-radius: 5px;
  display: inline-block;
  padding: 9px 20px 9px 40px;
  position: relative;
}

.notice-info__notice:before {
  content: '';
  position: absolute;
  top: 13px;
  left: 15px;
  width: 16px;
  height: 16px;
  background: url("../img/notice-icon.svg") 0 0 no-repeat;
}

.notice-info__desc {
  font-size: 16px;
  color: #042433;
  font-weight: bold;
  line-height: 26px;
  display: inline-block;
}

.order-info--author-succes .order-info__amount {
  display: block;
}

.order-info--author-succes .order-info__name-amount {
  margin-bottom: 15px;
}

.order-info--verify-info .order-info__title {
  margin-bottom: 30px;
}

.order-info--verify-info .order-info__items-order {
  padding-top: 30px;
  border-top: 1px solid #d6d7d6;
  margin-top: 25px;
}

.order-info--verify-info .order-info__item-oreder {
  margin-bottom: 15px;
}

.order-info--verify-info .order-info__name {
  margin-bottom: 0;
}

.order-info__title {
  font-size: 16px;
  color: #042433;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.order-info__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85px;
  height: 3px;
  background-color: #24c10c;
}

.order-info__item {
  margin-bottom: 30px;
}

.order-info__name {
  font-size: 14px;
  color: #042433;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 20px;
}

.order-info__text {
  font-size: 14px;
  color: #042433;
  font-weight: bold;
  line-height: 21px;
}

.order-info__text a {
  color: #042433;
  transition: color 0.3s;
}

.order-info__text a:hover {
  color: #0390cf;
  text-decoration: none;
}

.order-info__item-oreder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.order-info__amount {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #d6d7d6;
  margin-top: 30px;
}

.order-info__name-order {
  font-size: 14px;
  color: #042433;
  font-weight: 400;
  line-height: 16px;
}

.order-info__text-order {
  font-size: 14px;
  color: #042433;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
}

.order-info__name-amount {
  font-size: 14px;
  color: #042433;
  line-height: 16px;
}

.order-info__sum {
  font-size: 22px;
  color: #042433;
  font-weight: bold;
  line-height: 22px;
}

.order-info__img {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}

.order-info__img img {
  max-width: 100%;
  height: auto;
}

.order-info__inner-name {
  font-size: 12px;
  color: #042433;
  font-weight: bold;
  line-height: 21px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
}

.page-scroller {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 1050;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(3,169,244,0.1);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  fill: #666;
  width: 24px;
  height: 24px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(3,169,244,0.12);
}

.page-scroller:active {
  background-color: rgba(3,169,244,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.popup-confirm--transfer .popup-confirm__item {
  margin-bottom: 0;
  padding-bottom: 0;
}

.popup-confirm--transfer .popup-confirm__item .popup-confirm__inner-item:last-child {
  margin-bottom: 0;
}

.popup-confirm__title {
  font-size: 16px;
  color: #042433;
  line-height: 26px;
  letter-spacing: 5px;
  padding-bottom: 20px;
  margin: 0 auto 20px;
  position: relative;
}

.popup-confirm__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 85px;
  height: 3px;
  background-color: #24c10c;
}

.popup-confirm__desc {
  font-size: 16px;
  color: #042433;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  margin-bottom: 15px;
}

.popup-confirm__item {
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d7d6;
  margin-bottom: 30px;
}

.popup-confirm__item:last-child {
  border: none;
}

.popup-confirm__inner-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
}

.popup-confirm__name {
  font-size: 14px;
  color: #042433;
  font-weight: 400;
  line-height: 16px;
}

.popup-confirm__text {
  font-size: 14px;
  color: #042433;
  font-weight: bold;
  line-height: 21px;
}

.popup-confirm__text a {
  color: #042433;
  transition: color 0.3s;
}

.popup-confirm__text a:hover {
  color: #0390cf;
  text-decoration: none;
}

.popup-confirm__text--titme {
  padding-left: 20px;
  position: relative;
}

.popup-confirm__text--titme:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url("../img/time-icon.svg") 0 0 no-repeat;
}

.popup-confirm__img {
  width: 20px;
  display: inline-block;
}

.popup-confirm__img img {
  max-width: 100%;
  height: auto;
}

.popup-confirm__inner-name {
  font-size: 12px;
  color: #042433;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
}

.popup-confirm__amount {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.popup-confirm__name-amount {
  font-size: 14px;
  color: #042433;
  line-height: 16px;
}

.popup-confirm__sum {
  font-size: 22px;
  color: #042433;
  font-weight: bold;
  line-height: 22px;
}

.popup-confirm .contact-phone {
  text-align: left;
}

.popup-confirm .contact-phone__input {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

.popup-confirm__currency-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.popup-confirm__btn-currency {
  font-size: 10px;
  color: #03a9f4;
  font-weight: bold;
  line-height: 26px;
  width: 70px;
  background-color: #c3ebfd;
  border-radius: 30px;
  border: none;
  margin-right: 5px;
  position: relative;
}

.popup-confirm__btn-currency:last-child {
  margin-right: 0;
}

.popup-confirm__btn-currency:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 33px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 4.5px 0 4.5px;
  border-color: #03a8f4 transparent transparent transparent;
  display: none;
}

.popup-confirm__btn-currency.is-active-currency {
  color: #fff;
  background-color: #03a8f4;
  cursor: default;
}

.popup-confirm__btn-currency.is-active-currency:after {
  display: block;
}

.popup-confirm__body {
  text-align: left;
  margin-top: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d6d7d6;
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
}

.popup-confirm__body .hidden-for-copy-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.popup-confirm__body-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 35px;
}

.popup-confirm__info-transfer-inner {
  margin-bottom: 30px;
}

.popup-confirm__info-transfer-inner .popup-confirm__name {
  font-size: 16px;
}

.popup-confirm__info-transfer-inner .popup-confirm__text {
  font-size: 18px;
  line-height: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.popup-confirm__transfer-address .popup-confirm__name {
  font-size: 16px;
}

.popup-confirm__transfer-address .popup-confirm__text {
  font-size: 18px;
  line-height: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.popup-confirm__notice {
  font-size: 12px;
  line-height: 21px;
  color: #042433;
  position: relative;
  padding-left: 25px;
}

.popup-confirm__notice:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/notice-icon.svg") 0 0 no-repeat;
}

.popup-confirm__btn-copy {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  width: 75px;
  border: none;
  background-color: #03a9f4;
  box-shadow: 0px 6px 10px rgba(14,61,9,0.095);
  border-radius: 50px;
  margin-left: 15px;
  transition: background-color 0.3s;
}

.popup-confirm__btn-copy:hover {
  background-color: #22b8fc;
}

.popup-confirm__load {
  color: #f0937c;
  padding-left: 20px;
  position: relative;
}

.popup-confirm__load:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 11px;
  height: 11px;
  background: url("../img/load-icon.svg") 0 0 no-repeat;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

.popup-confirm__btn-confirm {
  width: 240px;
  margin: 0 auto;
  border: none;
}

.popup-confirm__btn-confirm--type2 {
  width: 150px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.steps-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.steps-info__section {
  width: 680px;
  max-width: 100%;
  margin-right: 35px;
  padding: 45px 0 35px 45px;
}

.steps-info__item {
  margin-bottom: 20px;
}

.steps-info__num {
  font-size: 12px;
  color: #3c0;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.steps-info__text .text-extra {
  font-size: 12px;
  line-height: 20px;
}

.steps-info__text p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.steps__item {
  width: 990px;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  margin-bottom: 65px;
}

.steps__img {
  -ms-flex: 0 0 410px;
      flex: 0 0 410px;
  width: 410px;
  max-width: 410px;
  margin-right: 35px;
}

.steps__num {
  font-size: 12px;
  color: #3c0;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.steps__name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.steps__text {
  font-size: 16px;
  margin-bottom: 30px;
}

.steps__complite {
  font-size: 22px;
  color: #3c0;
  font-weight: bold;
  line-height: 26px;
  padding-left: 39px;
  margin: 0 auto;
  width: 300px;
  position: relative;
}

.steps__complite:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/complite-icon.svg") 0 0 no-repeat;
}

.top-line__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
}

.top-line__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.top-line__for-users {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.top-line__for-users a {
  font-size: 14px;
  color: #03a9f4;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.875px;
  text-transform: uppercase;
  margin-right: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  transition: color 0.3s;
}

.top-line__for-users a:hover {
  color: #0390cf;
  text-decoration: none;
}

.top-line__icon {
  margin-right: 10px;
}

.top-line__icon img {
  max-width: 100%;
  height: auto;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 1439px) {
  .app__main {
    padding-left: 25px;
  }

  .contain {
    padding-right: 15px;
    padding-left: 15px;
  }

  .choose-payment__title {
    -ms-flex: 0 0 130px;
        flex: 0 0 130px;
    width: 130px;
    max-width: 130px;
  }
}

@media print {
  .app-header {
    display: none;
  }

  .block-info {
    width: 100%;
  }

  .check-card {
    display: none;
  }

  .choose-payment__inner {
    height: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .steps-info {
    display: block;
  }
}