<div block="popup-confirm" class="remodal" data-remodal-id="verify_info_bitcoin2">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
        <div elem="title">CONFIRM</div>
        <div elem="desc">Verify information and confirm invoice</div>
        <div elem="items">
            <div elem="item">
                <div elem="inner-item">
                    <div elem="name">Method of payment:</div>
                    <div elem="text">
                        <span elem="img"><img src="img/bitcoin-pic.svg" alt=""></span>
                        <span elem="inner-name">Bitcoin</span>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="inner-item">
                    <div elem="name">Recipient:</div>
                    <div elem="text">
                        <strong><a href="payeer.com">payeer.com</a></strong>
                    </div>
                </div>
                <div elem="inner-item">
                    <div elem="name">Comments:</div>
                    <div elem="text"><strong>Add Funds to P1002756 <a href="mailto:vip.alexivan2018@mail.ru">[vip.alexivan2018@mail.ru]</a></strong></div>
                </div>
            </div>
            <div elem="item">
                <div elem="inner-item">
                    <div elem="name">Order ID:</div>
                    <div elem="text">
                        106927576
                    </div>
                </div>
                <div elem="inner-item">
                    <div elem="name">Amount:</div>
                    <div elem="text">
                        100.00 $
                    </div>
                </div>
                <div elem="inner-item">
                    <div elem="name">Commission Payeer:</div>
                    <div elem="text">
                        2.00 $
                    </div>
                </div>
                <div elem="inner-item">
                    <div elem="name">Commission Gate</div>
                    <div elem="text">
                        0.52 $
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="amount">
                    <div elem="name-amount">AMOUNT</div>
                    <div elem="sum">102.52 $</div>
                </div>
            </div>
        </div>
        <button elem="btn-confirm" mods="type2" class="btn-general" type="button">Confirm</button>
    </div>
</div><!-- popup-confirm -->