<div block="popup-confirm" mods="transfer" class="remodal" data-remodal-id="verify_info_transfer">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
        <div elem="title">TRANSFER BITCOINS</div>
        <div elem="desc">For complete payment via Bitcoin</div>
        <div elem="body">
            <div elem="body-inner">
                <div elem="info-transfer">
                    <div elem="info-transfer-inner">
                        <div elem="name">Time left:</div>
                        <div elem="text" mods="titme"><strong>11:24</strong></div>
                    </div>
                    <div elem="info-transfer-inner">
                        <div elem="name">Send exact amount:</div>
                        <div elem="text">
                            <strong>0.01432924 BTC</strong>
                            <input type="text" class="hidden-for-copy-text js-copy-text" value="0.01432924">
                            <button elem="btn-copy" class="js-btn-copy" type="button" >COPY</button>
                        </div>
                        <div elem="notice">Please, do not change the amount</div>
                    </div>
                </div>
                <div elem="qr-code"><img src="img/qr-payeer-code.png" alt=""></div>
            </div> 
            <div elem="transfer-address">
                <div elem="name">To this bitcoin address:</div>
                <div elem="text">
                    <strong>3AACRpJyufc5ZLLGwin6eVq5Fc9FEodufL</strong>
                    <input type="text" class="hidden-for-copy-text js-copy-text" value="3AACRpJyufc5ZLLGwin6eVq5Fc9FEodufL">
                    <button elem="btn-copy" class="js-btn-copy" type="button">COPY</button>
                </div>
            </div>   
        </div>
        <div elem="items">
            <div elem="item">
                <div elem="inner-item">
                    <div elem="name">Transaction Status:</div>
                    <div elem="text">
                        <div elem="load">Pending transaction</div>
                    </div>
                </div>
                <div elem="inner-item">
                    <div elem="name">Amount to be credited:</div>
                    <div elem="text">
                        <strong>+100.00 $</strong>
                    </div>
                </div>
                <div elem="inner-item">
                    <div elem="name">Method of payment:</div>
                    <div elem="text">
                        <span elem="img"><img src="img/payeer-pic.svg" alt=""></span>
                        <span elem="inner-name"><strong>Payeer USD</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- popup-confirm -->