.popup-confirm
    
    &--transfer
        
        & ^[0]

            &__item
                margin-bottom 0
                padding-bottom 0

                & ^[0]

                    &__inner-item
                        &:last-child
                            margin-bottom 0    

    &__title
        font-size 16px
        color #042433
        line-height 26px
        letter-spacing 5px
        padding-bottom 20px
        margin 0 auto 20px
        position relative
        &:after
            content ''
            position absolute
            bottom 0
            left 50%
            transform translateX(-50%)
            width 85px
            height 3px
            background-color #24C10C
    
    &__desc
        font-size 16px
        color #042433
        font-weight bold
        line-height 26px
        text-align center
        margin-bottom 15px

    &__item
        padding-bottom 10px
        border-bottom 1px solid #D6D7D6
        margin-bottom 30px
        &:last-child
            border none

    &__inner-item
        display flex
        justify-content space-between
        align-items center
        margin-bottom 20px

    &__name
        font-size 14px
        color #042433    
        font-weight 400
        line-height 16px    

    &__text
        font-size 14px
        color #042433
        font-weight bold
        line-height 21px
        a
            color #042433
            transition color .3s
            &:hover
                color #0390cf
                text-decoration none
        
        &--titme
            padding-left 20px      
            position relative
            &:before
                content ''
                position absolute
                top 5px
                left 0
                width 15px
                height 15px
                background url('../img/time-icon.svg') 0 0 no-repeat

    &__img
        width 20px
        display inline-block

        img 
            max-width 100%
            height auto

    &__inner-name
        font-size 12px
        color #042433 
        font-weight bold 
        display inline-block
        vertical-align middle      
        line-height 16px   

    &__amount
        display flex
        justify-content space-between
        align-items center             

    &__name-amount
        font-size 14px
        color #042433
        line-height 16px

    &__sum
        font-size 22px
        color #042433
        font-weight bold
        line-height 22px    

    .contact-phone
        text-align left    

        &__input
            flex 1 1 auto

    &__currency-list
        display flex
        align-items center

    &__btn-currency
        font-size 10px
        color #03A9F4
        font-weight bold
        line-height 26px
        width 70px
        background-color #C3EBFD   
        border-radius 30px
        border none
        margin-right 5px
        position relative
        &:last-child
            margin-right 0
        &:after
            content ''    
            position absolute
            bottom -3px
            left 33px
            width 0
            height 0
            border-style solid
            border-width 3px 4.5px 0 4.5px
            border-color #03a8f4 transparent transparent transparent
            display none
        
        &.is-active-currency
            color #fff
            background-color #03a8f4
            cursor default
            &:after
                display block

    &__body
        text-align left
        margin-top 30px   
        padding-bottom 40px
        border-bottom 1px solid #D6D7D6
        margin-bottom 25px
        position relative
        z-index 2

        .hidden-for-copy-text
            position absolute
            top 0
            left 0
            z-index -1
            opacity 0

    &__body-inner
        display flex
        justify-content space-between      
        margin-bottom 35px   

    &__info-transfer-inner
        margin-bottom 30px    

        & ^[0]

            &__name
                font-size 16px

            &__text
                font-size 18px
                line-height 26px
                display flex
                align-items center
                margin-top 5px
                margin-bottom 5px

    &__transfer-address   

        & ^[0]

            &__name
                font-size 16px

            &__text
                font-size 18px
                line-height 26px
                display flex
                align-items center
                margin-top 5px
                margin-bottom 5px    

    &__notice
        font-size 12px
        line-height 21px
        color #042433 
        position relative
        padding-left 25px  
        &:before
            content ''
            position absolute
            top 2px
            left 0
            width 16px
            height 16px
            background url('../img/notice-icon.svg') 0 0 no-repeat

    &__btn-copy
        font-size 14px
        line-height 30px
        text-align center
        color #fff
        width 75px
        border none 
        background-color #03A9F4
        box-shadow 0px 6px 10px rgba(14, 61, 9, 0.0953068)
        border-radius 50px
        margin-left 15px
        transition background-color .3s
        &:hover
            background-color lighten(#03A9F4, 15%)

    &__load
        color #F0937C
        padding-left 20px
        position relative
        &:before
            content ''
            position absolute
            top 5px
            left 0   
            width 11px
            height 11px
            background url('../img/load-icon.svg') 0 0 no-repeat
            transition transform 0.5s ease
            animation rotate 1s linear infinite

    @keyframes rotate
        from 
            transform rotate(360deg)
    
    &__btn-confirm
        width 240px
        margin 0 auto     
        border none   

        &--type2
            width 150px