<div block="steps">
    <div elem="section">
        <div elem="items">
            <div elem="item">
                <div elem="img"><img src="img/step-img.png" alt=""></div>
                <div elem="content">
                    <div elem="num">STEP 5</div>
                    <div elem="name">LOG into your Payeer wallet</div>
                    <div elem="text">Using your login and password sent by our system at the email specified by you upon registration.</div>
                    <a elem="btn" class="btn-general" href="#">Log In</a>
                </div>
            </div>
            <div elem="item">
                <div elem="img"><img src="img/step-img2.png" alt=""></div>
                <div elem="content">
                    <div elem="num">STEP 6</div>
                    <div elem="name">Choose the wallet you want to deposit money to</div>
                    <div elem="text">While in your <strong>Personal Profile,</strong> please go to the <strong>DEPOSIT section,</strong> on one of your wallets.</div>
                    <a elem="btn" class="btn-general" href="#">Deposit</a>
                </div>
            </div>
            <div elem="item">
                <div elem="img"><img src="img/step-img3.png" alt=""></div>
                <div elem="content">
                    <div elem="num">STEP 7</div>
                    <div elem="name">Choose deposit method </div>
                    <div elem="text">Choose one of 100+ deposit methods available on Payeer.</div>
                </div>
            </div>
            <div elem="item">
                <div elem="img"><img src="img/step-img4.png" alt=""></div>
                <div elem="content">
                    <div elem="num">FINAL STEP</div>
                    <div elem="name">Follow the deposit flow</div>
                    <div elem="text">Deposit your funds into your account, choosing one of the available funding options and await for your funds to be reflected in your Payeer wallet balance.</div>
                </div>
            </div>
        </div>
        <div elem="complite">Congratulations! You did it!</div>
    </div>
</div><!-- steps -->