.steps

    &__item
        width 990px
        max-width 100%
        display flex
        padding-left 30px
        margin-bottom 65px

    &__img
        flex 0 0 410px
        width 410px   
        max-width 410px
        margin-right 35px 

    &__num
        font-size 12px
        color #33CC00
        font-weight bold
        line-height 26px
        text-transform uppercase
        margin-bottom 10px

    &__name
        font-size 16px
        font-weight bold
        margin-bottom 15px    

    &__text
        font-size 16px  
        margin-bottom 30px

    &__complite
        font-size 22px
        color #33CC00
        font-weight bold
        line-height 26px
        padding-left 39px
        margin 0 auto
        width 300px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 25px
            height 25px
            background url('../img/complite-icon.svg') 0 0 no-repeat