.check-card
    margin-top 50px

    @media print
        display none

    &__label
        width 100%
        padding 20px 20px 20px 80px  
        display flex
        position relative
        background-color #EEF0F0
        border-radius 10px
        &:before
            content ''
            position absolute
            top 20px
            left 20px
            width 43px
            height 50px
            background url('../img/chek-card-pic.svg') 0 0 no-repeat

    &__text-extra
        font-size 12px
        color #2B393F    
        line-height 16px
        margin-bottom 10px

    &__input-file
        display flex
        align-items center    

        .jq-file.changed ~ .check-card__btn-delete
            opacity 1
            visibility visible
      
    &__btn-delete
        display inline-block   
        width 16px
        height 16px
        border none 
        background url('../img/cart-icon.svg') 0 0 no-repeat
        opacity 0
        visibility hidden

    &__note
        margin-left 25px
        padding-left 25px
        border-left 1px solid #D1D2D2    

    &__types
        font-size 12px
        color #2B393F    
        line-height 16px
        margin-bottom 10px

    &__btns
        display flex
        align-items center
        margin-top 30px

    &__btn-confirm
        border none
        min-width 240px    
        max-width 100%
        margin-right 20px
        box-shadow 0px 6px 10px rgba(14, 61, 9, 0.0953068)
        cursor not-allowed
        &.btn-general
            background #d8dcde
        
        &.confirm
            cursor pointer
            background linear-gradient(161.89deg, #49D60A 3.5%, #09CB01 97.72%)    
            &:hover
                background linear-gradient(161.89deg, #09CB01 3.5%, #49D60A 97.72%)

    &__btn-refund
        font-size 12px
        color #03A9F4
        font-weight bold
        line-height 21px
        text-align center
        min-width 200px
        max-width 100%
        padding 13px 20px  13px 40px
        border 2px solid rgba(3, 169, 244, 0.24)
        box-shadow 0px 6px 10px rgba(14, 61, 9, 0.0953068)
        border-radius 50px
        display inline-block
        position relative
        &:hover
            color #03A9F4
            text-decoration none
            &:before
                transform rotate(360deg)  

        &:before
            content ''
            position absolute
            top 15px
            left 15px
            width 17px
            height 17px
            background url('../img/x-icon.svg') 0 0 no-repeat  
            transition transform .5s