<div block="check-card">
    <div elem="section">
        <form elem="form">
            <label elem="label">
                <div elem="body">
                    <div elem="text-extra">Upload the photo of your <strong>bank card</strong> next to your <strong>passport:</strong></div>
                    <div elem="input-file">
                        <input type="file">
                        <button elem="btn-delete" class="js-btn-delete" type="button"></button>
                    </div>
                </div>
                <div elem="note">
                    <div elem="text-extra">Accepted file formats:</div>
                    <div elem="types"><strong>.JPG, .PNG, .TIFF, .PDF,</strong> max 5 Mb.</div>
                </div>
            </label>
            <div elem="btns">
                <button elem="btn-confirm" class="btn-general js-btn-confirm" type="submit" disabled>Send Photo</button>
                <a elem="btn-refund" href="#">REFUND MONEY TO THE CARD</a>
            </div>
        </form>
    </div>
</div><!-- check-card -->