<div block="lang-selection">
    <div elem="section">
        <div elem="selected" class="js-selected"><i elem="icon-lang"><img src="img/flag-usa-icon.svg" alt=""></i>English</div>
        <ul elem="list" class="js-selected-list">
            <li elem="list-item" class="js-list-choose"><i elem="icon-lang"><img src="img/flag-ru-icon.svg" alt=""></i>Русский</li>
            <li elem="list-item" class="js-list-choose"><i elem="icon-lang"><img src="img/flag-fr-icon.svg" alt=""></i>Français</li>
        </ul>
    </div>
</div><!-- lang-selection -->