.lang-selection
    margin-left 5px
    
    &__section  
        width 130px

    &__selected
        font-size 16px
        color #03A9F4
        line-height 26px
        padding 5px 7px 5px 7px
        border 2px solid rgba(3, 169, 244, 0.24)
        background-color #fff
        border-radius 50px
        cursor pointer
        display flex
        align-items center
        position relative
        z-index 2
        &:after
            content ''
            position absolute
            top 50%
            right 10px
            transform translateY(-50%)
            width 0
            height 0
            border-style solid
            border-width 5px 3.5px 0 3.5px
            border-color #03a8f4 transparent transparent transparent
            transition transform .3s
        &:hover
            color #fff
            background linear-gradient(284.23deg,#03a9f4 -40.38%,#25bcff 47.92%)
            &:after
                border-color #fff transparent transparent transparent

        &.is-active-selected
            color #fff
            background linear-gradient(284.23deg,#03a9f4 -40.38%,#25bcff 47.92%)
            &:after
                border-color #fff transparent transparent transparent
                transform rotate(180deg) translateY(50%)


        
    &__icon-lang
        width 20px
        margin-right 10px
        img 
            max-width 100%
            height auto    

    &__list
        list-style-type none
        padding-top 30px
        padding-left 0
        width 130px
        border 2px solid rgba(3, 169, 244, 0.24)
        border-top none
        border-bottom-right-radius 20px
        border-bottom-left-radius 20px
        background-color #fff
        box-shadow 0 0 25px 0 rgba(0,0,0,.1)
        box-sizing border-box        
        position absolute
        top 35px
        z-index 1
        overflow hidden
        // opacity 0
        // visibility hidden
        display none

    &__list-item
        font-size 16px
        color #03A9F4
        line-height 26px
        padding 11px 15px 11px 10px
        cursor pointer
        &:hover
            background-color rgba(3, 169, 244, 0.24)