.logo
    display flex
    align-items center
    margin-right 25px
    
    &__img
        width 126px

        img 
            max-width 100%
            height auto

    &__desc
        font-size 12px
        color #042433        
        line-height 16px
        text-transform uppercase
        letter-spacing 0.857143px
        margin-left 25px