.contact-phone
    margin-top 30px

    &__note
        font-size 14px
        color #A1A1A1
        line-height 16px

        span 
            color #d47260

    &__label
        display flex
        align-items center

    &__input
        flex 0 0 290px
        width 290px
        max-width 100%
        margin-right 30px
        position relative
        &:after
            content ''
            position absolute
            top 10px
            right 0
            width 25px
            height 25px
            background url('../img/complite-icon.svg') 0 0 no-repeat
            display none

        &.phone-confirm
            &:after
                display block
                
            input 
                border-color #ADEB99

        input 
            font-size 24px
            color #A1A1A1
            line-height 28px
            width 100%
            height 50px
            border none 
            border-bottom 2px solid #D5D5D5
            background-color transparent

        ::placeholder
            font-size 24px
            color #A1A1A1
            line-height 28px  

    &__btn-confirm
        border none
        min-width 135px
        box-shadow 0px 6px 10px rgba(14, 61, 9, 0.0953068)
        cursor not-allowed
        &.btn-general
            background #d8dcde
        
        &.confirm
            cursor pointer
            background linear-gradient(161.89deg, #49D60A 3.5%, #09CB01 97.72%)
            &:hover
                background linear-gradient(161.89deg, #09CB01 3.5%, #49D60A 97.72%)
