<div block="contact-phone">
    <div elem="section">
        <form elem="form">
            <div elem="note">Contact phone number: <span>*</span></div>
            <div elem="label">
                <div elem="input" class="js-input-phone-confirm">
                    <input type="tel" class="js-phone-mask" id="enter_phone" placeholder="ex. +79553155xxxx">
                </div>
                <button elem="btn-confirm" class="btn-general js-btn-confirm" type="submit" disabled>Confirm</button>
            </div>
        </form>
    </div>
</div><!-- contact-phone -->