<div block="order-info">
    <div elem="section">
        <div elem="title">Order Info</div>
        <div elem="items">
            <div elem="item">
                <div elem="name">Recipient:</div>
                <div elem="text"><strong><a href="payeer.com">payeer.com</a></strong></div>
            </div>
            <div elem="item">
                <div elem="name">Comments:</div>
                <div elem="text"><strong>Демонстрационный платеж</strong></div>
            </div>
        </div>
        <div elem="items-order">
            <div elem="item-oreder">
                <div elem="name-order">Order ID:</div>
                <div elem="text-order">12345</div>
            </div>
            <div elem="amount">
                <div elem="name-amount">AMOUNT</div>
                <div elem="sum">10.52 &#8381;</div>
            </div>
        </div>
        
    </div>
</div><!-- order-info -->