<div block="order-info" mods="verify-info">
    <div elem="section">
        <div elem="title">Order Info</div>
        <div elem="items">
            <div elem="item">
                <div elem="name">Recipient:</div>
                <div elem="text"><strong><a href="payeer.com">payeer.com</a></strong></div>
            </div>
            <div elem="item">
                <div elem="name">Comments:</div>
                <div elem="text"><strong>Add Funds to P1002756 <a href="mailto:vip.alexivan2018@mail.ru">[vip.alexivan2018@mail.ru]</a></strong></div>
            </div>
            <div elem="item">
                <div elem="name">Method of payment:</div>
                <div elem="text">
                    <span elem="img"><img src="img/visa-pic.svg" alt=""></span>
                    <span elem="inner-name">VISA</span>
                </div>
            </div>
        </div>
        <div elem="items-order">
            <div elem="item-oreder">
                <div elem="name-order">Order ID:</div>
                <div elem="text-order">106927576</div>
            </div>
            <div elem="item-oreder">
                <div elem="name-order">Amount:</div>
                <div elem="text-order">10.00 &#8381;</div>
            </div>
            <div elem="item-oreder">
                <div elem="name-order">Commission Payeer:</div>
                <div elem="text-order">0.19 &#8381;</div>
            </div>
            <div elem="item-oreder">
                <div elem="name-order">Commission Gate:</div>
                <div elem="text-order">0.33 &#8381;</div>
            </div>
            <div elem="amount">
                <div elem="name-amount">AMOUNT</div>
                <div elem="sum">10.52 &#8381;</div>
            </div>
        </div>
        
    </div>
</div><!-- order-info -->