.order-info

    &--author-succes

        & ^[0]

            &__amount
                display block

            &__name-amount
                margin-bottom 15px 

    &--verify-info

        & ^[0]

            &__title
                margin-bottom 30px

            &__items-order
                padding-top 30px
                border-top 1px solid #D6D7D6
                margin-top 25px

            &__item-oreder
                margin-bottom 15px

            &__name
                margin-bottom 0


    &__title
        font-size 16px
        color #042433
        font-weight 400
        line-height 26px
        padding-bottom 20px
        margin-bottom 20px
        position relative
        &:after
            content ''
            position absolute
            bottom 0
            left 0
            width 85px
            height 3px
            background-color #24C10C

    &__item
        margin-bottom 30px        

    &__name
        font-size 14px
        color #042433    
        font-weight 400
        line-height 21px
        margin-bottom 20px

    &__text
        font-size 14px
        color #042433
        font-weight bold
        line-height 21px
        a
            color #042433
            transition color .3s
            &:hover
                color #0390cf
                text-decoration none

    &__item-oreder
        display flex
        justify-content space-between

    &__amount
        display flex
        justify-content space-between
        padding-top 30px
        border-top 1px solid #D6D7D6
        margin-top 30px

    &__name-order
        font-size 14px
        color #042433    
        font-weight 400
        line-height 16px

    &__text-order
        font-size 14px
        color #042433
        font-weight bold
        line-height 16px
        text-align right
    
    &__name-amount
        font-size 14px
        color #042433
        line-height 16px

    &__sum
        font-size 22px
        color #042433
        font-weight bold
        line-height 22px    
    
    &__img
        width 20px
        display inline-block
        vertical-align middle
        margin-top 5px

        img 
            max-width 100%
            height auto    

    &__inner-name
        font-size 12px
        color #042433 
        font-weight bold        
        line-height 21px
        display inline-block
        vertical-align middle 
        padding-top 10px
        