<div block="order-info" mods="author-succes">
    <div elem="section">
        <div elem="title">Order Info</div>
        <div elem="items">
            <div elem="item">
                <div elem="name">Comments:</div>
                <div elem="text"><strong>Add Funds to P1002756 <a href="mailto:vip.alexivan2018@mail.ru">[vip.alexivan2018@mail.ru]</a></strong></div>
            </div>
            <div elem="item">
                <div elem="name">Order ID:</div>
                <div elem="text"><strong>107165218</strong> from 16.12.2019 15:33:23</div>
            </div>
        </div>
        <div elem="items-order">
            <div elem="amount">
                <div elem="name-amount">AMOUNT</div>
                <div elem="sum">10.52 &#8381;</div>
            </div>
        </div>
        
    </div>
</div><!-- order-info -->