.steps-info
    display flex
    justify-content space-between

    @media print
        display block

    &__section
        width 680px
        max-width 100%
        margin-right 35px
        padding 45px 0 35px 45px

    &__item
        margin-bottom 20px    

    &__num
        font-size 12px
        color #33CC00
        font-weight bold
        line-height 20px
        text-transform uppercase
        margin-bottom 5px    

    &__text

        .text-extra
            font-size 12px
            line-height 20px

        p
            font-size 16px 
            line-height 24px   
            margin-bottom 10px