<div block="steps-info">
    <div elem="section">
        <div elem="inner">
            {% include "notice-info-verify-info.html" %}
            <div elem="items">
                <div elem="item">
                    <div elem="num">STEP 1</div>
                    <div elem="text">
                        <p>Make sure your card balance is sufficient to make a payment</p>
                        <p class="text-extra">Please take into account possible bank-side conversions.</p>
                    </div>
                </div>
                <div elem="item">
                    <div elem="num">STEP 2</div>
                    <div elem="text">
                        <p>Check if it is not forbidden to make payments on the Internet in your card settings, or if you have not exceeded limits set by yourself or the bank</p>
                        <p class="text-extra">You can check it in the e-bank or the bank mobile application.</p>
                    </div>
                </div>
                <div elem="item">
                    <div elem="num">STEP 3</div>
                    <div elem="text">
                        <p>If these recommendations did not work, try contacting your bank by the phone number on the back of your card and find out the exact reason for cancellation</p>
                    </div>
                </div>
            </div>
            {% include "contact-phone.html" %}
        </div>
    </div>
    {% include "block-info-verify-info.html" %}
</div><!-- steps-info -->