<div block="steps-info">
    <div elem="section">
        <div elem="inner">
            {% include "notice-info-author-succes.html" %}
            <div elem="items">
                <div elem="item">
                    <div elem="num">STEP 1</div>
                    <div elem="text">
                        <p>Place your card <strong>4890 49** **** 4802</strong> next to your passport or ID, and take a clear photo of docs.</p>
                        <p class="text-extra"><strong>Attention:</strong> we do not accept scanned copies, we accept only photo, and we can require an additional verification - "photo of yourself with docs in your hands" for some reason. </p>
                    </div>
                </div>
                <div elem="item">
                    <div elem="num">STEP 2</div>
                    <div elem="text">
                        <p>Make sure that your all your personal details are well-readable in this photo.</p>
                    </div>
                </div>
                <div elem="item">
                    <div elem="num">STEP 3</div>
                    <div elem="text">
                        <p>Upload your photo in the form below, our agent will process your payment within 24 hours.</p>
                    </div>
                </div>
            </div>
            {% include "check-card.html" %}
        </div>
    </div>
    {% include "block-info.html" %}
</div><!-- steps-info -->