html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

.app
    display flex
    flex-direction column
    height 100%
    height 100vh

    &.author-succes-page,
    &.verify-info-page
        & ^[0]
            &__main
                padding 0

    &__wrapper
        display flex
        flex-direction column
        // height 100%
        // height 100vh
        height auto

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1
        background-color #F8F9F8
        padding 40px 25px 70px 50px
        border-radius 10px
        margin-bottom 70px

        @media (max-width 1439px)
            padding-left 25px

    &__aside

        &--right 
            flex 0 0 280px 
            width 280px
            max-width 280px  
            background-color #F8F9F8
            padding 35px 35px 35px 30px
            border-radius 10px
            margin-left 20px
            margin-bottom 70px

*
    outline none !important

.contain
    width 1366px + 35px + 35px
    max-width 100%
    margin 0 auto
    padding-right 35px
    padding-left 35px

    @media (max-width 1439px)
        padding-right 15px
        padding-left 15px

.btn-general
    font-size 18px
    line-height 33px
    text-align center
    color #fff
    padding 10px 20px
    background linear-gradient(161.89deg, #49D60A 3.5%, #09CB01 97.72%)
    box-shadow 0px 6px 10px rgba(14, 61, 9, 0.0953068)
    border-radius 50px    
    min-width 135px
    // max-width 100%
    display inline-block
    vertical-align top
    &:hover
        color #fff
        text-decoration none
        background linear-gradient(161.89deg, #09CB01 3.5%, #49D60A 97.72%)

.scrollbox-bar
    width 4px
    background-color #03A9F4
    transition background-color .3s
    &.scrollbox-bar-captured
        background-color #03a9f4
    &.scrollbox-vertical-bar
        right -1px    
    &:hover
        background-color lighten(#03A9F4, 15%)

.scrollbox-rail
    background-color #d6d7d6
    opacity 1
    width 2px

.jq-file
    display flex
    align-items center
    width 245px
    
    input
        z-index 1

    &.changed
        .jq-file__name
            color #000
            font-weight bold
            // background url('../img/cart-icon.svg') 100% 50% no-repeat

.jq-file__browse
    font-size 12px
    color #FFF
    line-height 26px
    text-align center
    background-color #03A9F4
    border-radius 36px    
    margin-right 10px
    width 120px
    flex 0 0 120px
    order -1
    transition background-color .3s
    position relative
    z-index 2
    &:hover
        background-color lighten(#03A9F4, 15%)

.jq-file__name
    font-size 12px
    color #698698
    width auto
    padding-right 20px
    line-height 17px
    position relative

strong 
    color #000

.remodal
    max-width 550px
    padding 25px 30px
    border-radius 10px

.remodal-close
    width 50px
    height 50px
    right -60px
    background rgba(181, 181, 181, 0.5)
    border-radius 50%
    &:before
        font-size 34px
        color #fff
        top 7px
        right 7px